*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: serif;
    height: 100vh;
    background-color: gray;
}

.button{
    position: relative;
    padding: 15px 20px;
    font-size: 1.5rem;
    background-color: aliceblue;
    display: inline-block;
    text-decoration: none;
    color: #5c4800;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s;
}
.button:hover{
    letter-spacing: 0.1rem;
}

#newsLetter{
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    z-index: 1000;
    width: 450px;
    padding: 80px 50px 50px ;
    transition: 0.5s;
    border-radius: 4px;
    visibility: hidden;
}

#newsLetter.active{
    visibility: visible;
    top: 50%;
}

h2{
    text-align: center;
    color: #5c4800;
    font-size: 24px;
    margin: 20px 10px;
}

p{
    text-align: center;
    color: #5c4800;
}

.box{
    position: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input,button{
    width: 100%;
    border: 1px solid;
    padding: 15px;
    outline: none;
    font-size: 1rem;
    font-family: serif;
}

button{
    border: none;
    width: 150px;
    letter-spacing: 0.1s;
    border-radius: 5px;
    cursor: pointer;
}

.close{
    position: absolute;
    cursor: pointer;
    right:20px;
    top:15px;
}